<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <% if @type == "Blog" %>
        <h1>Your new blog <%= @content.title %> was denied!</h1>
     <% end %>
     <p>
        <% if @type == "Blog" %>
           Our review team has taken the time to do look over
           the blog you submited to our site and found
           that it doesn't fit into the correct book group.
           The images if any that this blog contains may
           not be suitable to our community or needs a bit
           of refinement before it can be approved. Our
           review team will get in touch with you to go
           over the specifics. Do not worry these things
           sometimes happen. We run these checks just to
           be sure that our community stays safe for
           everyone.
        <% end %>
     </p>
     <br>
     <p>The Duelingpets Staff Team</p>
  </body>
</html>
