<% provide(:h1, "Reviewercontrol panel") %>
<div class="pageformat">
   <p class="formlinks">Blog review: <%= link_to "Review", blogs_review_path %></p>
   <br>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
</div>
