<% provide(:h1, "Stats") %>
<div class="pageformat">
   <p><%= button_to 'Switch to Economy', economy_path, method: :get, class: "button submitbutton" %></p>
   <br>
   <p>This gives information about the different attributes of the website.</p>
</div>
